.list-group h3{
  margin-bottom: 0;
  background-color: #146C94;
}

.sidebar-container {
  display: none;
}

#sidebar-button {
  position: absolute;
  top: 2.5%;
  right: 3%;
  color: rgba(0, 0, 0, 0.753);
}

.offcanvas-header{
  // background-color: #0D6EFD;
  background-color: #146C94;
  color: white;
}

.offcanvas-header > h3{
  margin-top: 5px;
  margin-bottom: 0;
}

.btn-close{
 background-color: white;
}

.offcanvas-body{
  overflow-y: hidden;
}

.offcanvas-body a{
  padding: 1rem 0;
}

@media only screen and (max-width: 800px) {
  .sidebar-container {
    display: inline;
  }
  .list-group {
    display: none;
  }
}
