<div class="list-group mt-5">
  <h3 class="list-group-item list-group-item-action active">{{title}}</h3>
  <div class="p-3 ps-4">
    <h5>Author Name</h5>
    <div class="sidebar-inner-items" *ngFor="let author of authorList">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">{{author}}</label>
      </div>
    </div>
  </div>
  <div class="p-3 ps-4">
    <h5>Price Range</h5>
    <div class="sidebar-inner-items" *ngFor="let price of priceRangeList">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">{{price.minPrice + "-" + price.maxPrice}}</label>
      </div>
    </div>
  </div>
  <div class="btn-group p-3 ps-4" role="group" aria-label="Basic radio toggle button group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-primary" for="btnradio1">Apply</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-primary" for="btnradio2">Remove</label>
  </div>
</div>

<!-- responsive sidebar -->
<div class="sidebar-container">
  <div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
      <h3 class="list-group-item list-group-item-action active">{{title}}</h3>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="p-3 ps-4">
      <h5>Author Name</h5>
      <div class="sidebar-inner-items" *ngFor="let author of authorList">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">{{author}}</label>
        </div>
      </div>
    </div>
    <div class="p-3 ps-4">
      <h5>Price Range</h5>
      <div class="sidebar-inner-items" *ngFor="let price of priceRangeList">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">{{price.minPrice + "-" + price.maxPrice}}</label>
        </div>
      </div>
    </div>
    <div class="btn-group p-3 ps-4" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="btnradio1">Apply</label>

      <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-primary" for="btnradio2">Remove</label>
    </div>
  </div>
  <button class="btn btn-secondary" id="sidebar-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"
    title="Sidebar">
    <span><i class="fa-solid fa-angle-left fa-lg"></i></span>
  </button>
</div>