.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card-body h5{
  margin-bottom: 5px;
}

.card-body .author .book-price{
  font-size: 14px;
}

.card-body .author{
  border-right: 2px solid rgba(0, 0, 0, 0.377);
}

.card-body a{
  width: 4.5rem;
}
