.products-container {
  width: 80%;
  margin-inline: auto;
  margin-top: 5%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.product-details-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
