<!-- Footer -->
<footer class="bg-dark text-center text-white">

  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" [href]="iconsLink[0]" role="button">
        <i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" [href]="iconsLink[1]" role="button">
        <i class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" [href]="iconsLink[2]" role="button">
        <i class="fab fa-google"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" [href]="iconsLink[3]" role="button">
        <i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" [href]="iconsLink[4]" role="button">
        <i class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" [href]="iconsLink[5]" role="button">
        <i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Subscribe - Form -->
    <section>
      <form>
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" placeholder="Enter your email" name="email"
                [(ngModel)]="email" [value]="email" />
              <p>{{ email }}</p>
            </div>
          </div>
          <div class="col-auto">
            <!-- Submit button -->
            <button type="button" (click)="validateEmail()" class="btn btn-outline-light mb-4">Subscribe</button>
          </div>
        </div>
      </form>
    </section>
    <!-- Section: Form -->

    <hr />

    <!-- Links -->
    <section>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0" *ngFor="let linkHeader of linksSection">
          <h5 class="text-uppercase">{{ linkHeader.title }}</h5>
          <ul class="list-unstyled mb-0">
            <li *ngFor="let link of linkHeader.hyperlinkList">
              <a [href]="link.href" class="text-white">{{ link.title }}</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- Section: Links -->
  </div>

  <!-- Copyright -->
  <div class="text-center p-3">
    © {{ copyRightYear }} Copyright: BookShop
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->