<form class="p-5 login-form">
  <div class="mb-3 w-75">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email..">
  </div>
  <div class="mb-3 w-75">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password..">
  </div>
  <button type="submit" class="btn btn-primary login-btn">Login</button>
</form>