<h1 class="text-center">RxJS Operators.</h1>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickOfOperator()">Of Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickFromOperator()">From Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickConcatWithOperator()">ConcatWith Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickMergeOperator()">Merge Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickMapOperator()">Map Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickConcatMapOperator()">ConcatMap Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickMergeMapOperator()">MergeMap Operator</button>
</div>
<hr>