<h1 class="text-center">RxJS Operators.</h1>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickOfOperator()">Of Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickFromOperator()">From Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickConcatWithOperator()">ConcatWith Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickMergeOperator()">Merge Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickMapOperator()">Map Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickConcatMapOperator()">ConcatMap Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickMergeMapOperator()">MergeMap Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickSwitchMapOperator()">SwitchMap Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickTakeOperator()">Take Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickTakeUntilOperator()">TakeUntil Operator</button>
</div>
<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickForkJoinOperator()">ForkJoin Operator</button>
</div>
<hr>
<br>
<h2 class="ms-4">Debounce Time Example</h2>
<form [formGroup]="debounceTimeExampleForm" class="m-3 p-3">
  <div class="form-group mt-4">
    <label class="control-label col-sm-3" for="description">Description</label>
    <div class="col-sm-10 w-100">
      <input type="text" class="form-control" id="description" placeholder="Enter description"
        formControlName="description">
    </div>
  </div>
</form>

<div class="m-3 p-3">
  {{ breeds$ | async | json }}
  <input type="text" [(ngModel)]="searchText" placeholder="Search breed" (keyup)="search()" class="form-control" />
</div>


<hr>
<div class="col-sm-offset-2 col-sm-10">
  <button type="button" class="btn btn-primary ms-4" (click)="onClickShareReplyOperator()">ShareReplay Operator</button>
</div>