<!-- Book shop -->
<!-- <app-header></app-header>
<app-main></app-main>
<app-footer></app-footer> -->

<!-- todo list from common error module -->
<!-- <app-component-one></app-component-one> -->

<!-- component life cycle -->
<!-- <app-parent></app-parent> -->

<!-- routing demo -->
<h1 class="p-3">Welcome..!!</h1>
<ul class="nav nav-tabs ps-3">
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" routerLink="/home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/products">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active" routerLink="/accounts">Accounts</a>
  </li>
</ul>
<router-outlet></router-outlet>


<!-- template driven form demo -->
<!-- <app-form></app-form> -->

<!-- reactive form demo -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- http demo -->
<!-- <app-user></app-user> -->

<!-- pipe demo -->
<!-- <app-pipe-example></app-pipe-example> -->