<!-- Book shop -->
<!-- <app-header></app-header>
<app-main></app-main>
<app-footer></app-footer> -->

<!-- todo list from common error module -->
<!-- <app-component-one></app-component-one> -->

<!-- component life cycle -->
<!-- <app-parent></app-parent> -->

<!-- routing demo -->
<router-outlet></router-outlet>


<!-- template driven form demo -->
<!-- <app-form></app-form> -->

<!-- reactive form demo -->
<!-- <app-reactive-form></app-reactive-form> -->

<!-- http demo -->
<!-- <app-user></app-user> -->

<!-- pipe demo -->
<!-- <app-pipe-example></app-pipe-example> -->

<!-- RxJS Operators demo -->
<!-- <app-operators></app-operators> -->

<!-- subject demo -->
<!-- <app-subject></app-subject> -->