<div class="list-group p-3 mt-4">
  <h3 class="list-group-item list-group-item-action active">Sidebar</h3>
  <a href="#" class="list-group-item list-group-item-action">Sidebar item - 1</a>
  <a href="#" class="list-group-item list-group-item-action">Sidebar item - 2</a>
  <a href="#" class="list-group-item list-group-item-action">Sidebar item - 3</a>
  <a href="#" class="list-group-item list-group-item-action">Sidebar item - 4</a>
  <a href="#" class="list-group-item list-group-item-action">Sidebar item - 5</a>
  <a href="#" class="list-group-item list-group-item-action">Sidebar item - 6</a>
  <a href="#" class="list-group-item list-group-item-action">Sidebar item - 7</a>
</div>
