<div class="home-container">
  <h1 class="text-center p-4">Welcome to home page</h1>
  <p class="p-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus soluta repellat maxime eos, ipsam
    animi
    repudiandae error atque, aut, unde itaque amet. Voluptates aut quaerat at impedit eaque corporis, ea cum tenetur
    labore distinctio sapiente vero accusantium quasi, tempora sunt, porro quae dignissimos ex illum? Modi veniam soluta
    id dolorum, aperiam autem quibusdam, neque aliquam dolores eos laudantium maxime ex nisi a, cum similique amet quo
    molestias deserunt nihil iusto veritatis nesciunt. Voluptatum dolorem libero voluptatem in ut facere ipsa excepturi
    reprehenderit unde ad architecto suscipit pariatur blanditiis culpa quis, deserunt vel, neque nobis, accusantium
    mollitia. Et voluptatum a non.</p>
</div>