<div class="container d-flex align-items-center justify-content-center mt-5">
  <div class="main">
    <h1 class="heading mb-4 text-center">{{ heading }}</h1>
    <!-- add task to the todo list -->
    <app-component-two (addTaskData)="addTask($event)" (clearAllData)="clearAll()"></app-component-two>
    <!-- add task to the todo list -->

    <!-- display all the entered tasks -->
    <div class="task-items-container">
      <ul class="displayTask list-group">
        <ng-container [ngSwitch]="taskList.length > 0">
          <ng-container *ngSwitchCase="true">
            <ng-container *ngFor="let task of taskList; index as id">
              <app-component-three [task]="{ task, id }" (deleteTaskData)="deleteTask($event)" />
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <li class="list-group-item">No Tasks</li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
    <!-- display all the entered tasks -->

  </div>
</div>