nav{
  padding: 1rem 0;
  background-color: #1A1E21;
}
nav a{
  margin-right: 1.2rem;
  color: white;
}

.navbar-toggler{
  background-color: gray;
}

.nav-item a:hover{
  border-radius: 12px;
  font-weight: 700;
  background-color: rgba(128, 128, 128, 0.493);
}
