input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0.5px 0.5px 3px red;
}

.error-message {
  color: red;
}

.fillForm-btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

form {
  margin: 0 10%;
}

.btns {
  display: flex;
  justify-content: center;
}

button[type="submit"],
button[type="reset"] {
  width: 6rem;
}
