<div class="m-4">
  <p>{{title}}</p>
  <h2 class="text-center p-3">{{heading}}</h2>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by gender" aria-label="Search"
      aria-describedby="button-addon2" [(ngModel)]="filterText">
  </div>

  <table class="table table-bordered text-center">
    <thead class="table-success">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Course</th>
        <th>Fees</th>
        <th>Marks</th>
        <th>Percentage</th>
        <th>DOB</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentsData | filterStudents : filterText; index as i">
        <td>{{i+1}}</td>
        <td>{{student.name}}</td>
        <td>{{student.course | titlecase}}</td>
        <td>{{student.fees | currency: 'INR'}}</td>
        <td><input type="number" value="student.marks" [(ngModel)]="student.marks"></td>
        <td>{{student.marks | percentage : totalMarks : 2}}</td>
        <td>{{student.DOB | date:'fullDate'}}</td>
        <td>{{student.gender | uppercase}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn-outline-secondary" type="button" (click)="addDummyStudent()">AddStudent</button>
  <br><br>
  <button class="btn btn-outline-secondary" type="button" (click)="changeGender()">Change gender</button>
</div>