<section class="parent-component">
  <h1>Parent works..!</h1>

  <!-- use of view child -->
  <h3>Example of ViewChild</h3>
  <p>methods from child component will be accessed by parent component using ViewChild</p>
  <button type="button" class="btn btn-dark m-2" (click)="increase()">Increase</button>
  <button type="button" class="btn btn-dark m-2" (click)="decrease()">Decrease</button>
  <!-- use of view child -->

  <!-- use ng-content and display data from parent to child -->
  <app-child #firstChildComponent [messageFromParent]="messageToChild"
    (messageFromChild)="receiveMessageFromChild($event)">
    <h4 #headChildOne>Child - 1</h4>
    <p>
      This paragraph from parent component..will be displayed in the child
      component - 1 using <b>ng-content</b>
    </p>
  </app-child>
  <!-- use ng-content and display data from parent to child -->

  <h4>{{messageFromChild}}</h4>

  <h5 appCustomAttribute backgroundColorFirst="pink">Custom Attribute Directive example</h5>
</section>